In [17]:
import requests
import json
# Replace YOUR_API_KEY with your actual API key
api_key = 'jf8cbNa7EMty2rmJHor6cxcrTGV1xrtuSWz0Cm5S'

In [8]:

# define parameters for API request
state_abbr = 'AL' # state abbreviation (e.g., AL for Alabama)
county_code = '001' # three-digit FIPS county code (e.g., 001 for Autauga County, AL)
series_id = f'SEDS.TETCB.{state_abbr}.{county_code}.M' # total energy consumption by month and county
start_year = '2010'
end_year = '2020'

# build URL for API request
url = f'https://api.eia.gov/series/?api_key={api_key}&series_id={series_id}&start={start_year}0101&end={end_year}1231'

# make API request and parse JSON response
response = requests.get(url)
data = json.loads(response.content)

# # extract energy consumption data by month and year
# months = data['series'][0]['data']
# for month in months:
#     date = month[0] # date in format YYYYMM
#     year = date[:4]
#     month_num = date[4:]
#     consumption = month[1]
#     print(f'{year}-{month_num}: {consumption} MMBtu')

In [28]:
import requests

url = "https://api.eia.gov/v2/electricity/electric-power-operational-data/data/"

params = {
    "frequency": "monthly",
    "data": [
        "total-consumption"
    ],
    "facets": {
        "fueltypeid": [
            "COW"
        ],
        "sectorid": [
            99
        ],
        "location": [
            "AK",
            "AL",
            "AR",
            "AZ",
            "CA",
            "CO",
            "CT",
            "DE",
            "ENC",
            "ESC",
            "FL",
            "GA",
            "HI",
            "IA",
            "ID",
            "IL",
            "IN",
            "KS",
            "KY",
            "LA",
            "MA",
            "MAT",
            "MD",
            "ME",
            "MI",
            "MN",
            "MO",
            "MS",
            "MT",
            "MTN",
            "NC",
            "ND",
            "NE",
            "NEW",
            "NH",
            "NJ",
            "NM",
            "NV",
            "NY",
            "OH",
            "OK",
            "PA",
            "PCC",
            "PCN",
            "RI",
            "SC",
            "SD",
            "TN",
            "TX",
            "UT",
            "VA",
            "WA",
            "WI",
            "WNC",
            "WSC",
            "WV",
            "WY"
        ]
    },
    "start": "2021-01",
    "end": "2023-01",
    "sort": [
        {
            "column": "period",
            "direction": "desc"
        }
    ],
    "offset": 0,
    "length": 5000
}

headers = {
    "X-Api-Key": api_key
}

response = requests.get(url, params=params, headers=headers)

print(response.content)

b'{"error":"Invalid format for facet \'location\'. Must provide which facet and an array of values. For example, to filter by location for VA and CA: facets[location][]=VA&facets[location][]=CA","code":400}'

In [29]:
print(response.content)
print(response.headers)

b'{"error":"Invalid format for facet \'location\'. Must provide which facet and an array of values. For example, to filter by location for VA and CA: facets[location][]=VA&facets[location][]=CA","code":400}'
{'Date': 'Tue, 28 Mar 2023 00:59:23 GMT', 'Content-Type': 'application/json', 'Content-Length': '202', 'Connection': 'keep-alive', 'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept, Authorization, X-Params', 'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, PATCH, OPTIONS,GET,POST', 'Access-Control-Allow-Origin': '*', 'Age': '0', 'Cache-Control': 'max-age=0, no-cache, no-store', 'Expires': 'Tue, 28 Mar 2023 00:59:23 GMT', 'Pragma': 'no-cache', 'Strict-Transport-Security': 'max-age=63072000; includeSubdomains;, max-age=31536000; preload', 'Via': 'http/1.1 api-umbrella (ApacheTrafficServer [cMsSf ])', 'X-Cache': 'MISS', 'X-Vcap-Request-Id': '22ae43af-64c2-4c26-7ddd-e7e98af0cd9c', 'X-Frame-Options': 'SAMEORIGIN', 'X-Content-Type-Options': 'nosniff', 'X-XSS-Protection': '1; mode=block'}

In [21]:
dt = data[data['lat'].notnull()]

In [26]:
d = dt['name'].drop_duplicates()

In [30]:
dt

,series_id,name,units,f,copyright,source,iso3166,lat,lon,geography,...,category_id,parent_category_id,notes,childseries,relation_id,vertex,bar_facets,stack_facets,geoset_ids,summable
0,ELEC.PLANT.CONS_EG.57208-DFO-IC.Q,Electric fuel consumption quantity : Thomson R...,barrels,Q,None,"EIA, U.S. Energy Information Administration",USA-MN,44.828900,-93.116700,USA-MN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC.PLANT.CONS_EG.57241-NG-ALL.A,Electric fuel consumption quantity : Deerhaven...,mcf,A,None,"EIA, U.S. Energy Information Administration",USA-FL,29.767500,-82.396388,USA-FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC.PLANT.CONS_EG.57343-OBG-ALL.Q,Electric fuel consumption quantity : Cargill B...,mcf,Q,None,"EIA, U.S. Energy Information Administration",USA-ID,42.716700,-114.616700,USA-ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC.PLANT.CONS_EG.57343-OBG-IC.A,Electric fuel consumption quantity : Cargill B...,mcf,A,None,"EIA, U.S. Energy Information Administration",USA-ID,42.716700,-114.616700,USA-ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC.PLANT.CONS_EG.57343-OBG-IC.M,Electric fuel consumption quantity : Cargill B...,mcf,M,None,"EIA, U.S. Energy Information Administration",USA-ID,42.716700,-114.616700,USA-ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683237,ELEC.PLANT.CONS_TOT.58176-NG-ST.Q,Fuel consumption quantity : Connecticut Valley...,mcf,Q,None,"EIA, U.S. Energy Information Administration",USA-CT,41.553889,-72.627500,USA-CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683238,ELEC.PLANT.CONS_TOT.58427-NG-GT.A,Fuel consumption quantity : Lansing BWL REO To...,mcf,A,None,"EIA, U.S. Energy Information Administration",USA-MI,42.719722,-84.551667,USA-MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683239,ELEC.PLANT.CONS_TOT.58427-NG-GT.M,Fuel consumption quantity : Lansing BWL REO To...,mcf,M,None,"EIA, U.S. Energy Information Administration",USA-MI,42.719722,-84.551667,USA-MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683240,ELEC.PLANT.CONS_TOT.58427-NG-GT.Q,Fuel consumption quantity : Lansing BWL REO To...,mcf,Q,None,"EIA, U.S. Energy Information Administration",USA-MI,42.719722,-84.551667,USA-MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683241,ELEC.PLANT.CONS_TOT.58427-NG-ST.A,Fuel consumption quantity : Lansing BWL REO To...,mcf,A,None,"EIA, U.S. Energy Information Administration",USA-MI,42.719722,-84.551667,USA-MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
len(dt)

594581

In [45]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CN0100','SUUR0000SA0'],"startyear":"2011", "endyear":"2023"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
print(pd.json_normalize(json_data))
# for series in json_data['Results']['series']:
#     x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             x.add_row([seriesId,year,period,value,footnotes[0:-1]])
#     output = open(seriesId + '.txt','w')
#     output.write (x.get_string())
#     output.close()

              status  responseTime  \
0  REQUEST_SUCCEEDED           348

                                             message  \
0  [Year range has been reduced to the system-all...

                                      Results.series
0  [{'seriesID': 'CN0100', 'data': []}, {'seriesI...

In [37]:
import pandas as pd
df = pd.read_csv('CUUR0000SA0.txt', header=1)

In [42]:
df.iloc[1:]

   |  series id  | year | period |  value  | footnotes |
1   | CUUR0000SA0 | 2014 |  M12   | 234.812 |     ...
2   | CUUR0000SA0 | 2014 |  M11   | 236.151 |     ...
3   | CUUR0000SA0 | 2014 |  M10   | 237.433 |     ...
4   | CUUR0000SA0 | 2014 |  M09   | 238.031 |     ...
5   | CUUR0000SA0 | 2014 |  M08   | 237.852 |     ...
6   | CUUR0000SA0 | 2014 |  M07   | 238.250 |     ...
7   | CUUR0000SA0 | 2014 |  M06   | 238.343 |     ...
8   | CUUR0000SA0 | 2014 |  M05   | 237.900 |     ...
9   | CUUR0000SA0 | 2014 |  M04   | 237.072 |     ...
10  | CUUR0000SA0 | 2014 |  M03   | 236.293 |     ...
11  | CUUR0000SA0 | 2014 |  M02   | 234.781 |     ...
12  | CUUR0000SA0 | 2014 |  M01   | 233.916 |     ...
13  | CUUR0000SA0 | 2013 |  M12   | 233.049 |     ...
14  | CUUR0000SA0 | 2013 |  M11   | 233.069 |     ...
15  | CUUR0000SA0 | 2013 |  M10   | 233.546 |     ...
16  | CUUR0000SA0 | 2013 |  M09   | 234.149 |     ...
17  | CUUR0000SA0 | 2013 |  M08   | 233.877 |     ...
18  | CUUR0000SA0 | 2013 |  M07   | 233.596 |     ...
19  | CUUR0000SA0 | 2013 |  M06   | 233.504 |     ...
20  | CUUR0000SA0 | 2013 |  M05   | 232.945 |     ...
21  | CUUR0000SA0 | 2013 |  M04   | 232.531 |     ...
22  | CUUR0000SA0 | 2013 |  M03   | 232.773 |     ...
23  | CUUR0000SA0 | 2013 |  M02   | 232.166 |     ...
24  | CUUR0000SA0 | 2013 |  M01   | 230.280 |     ...
25  | CUUR0000SA0 | 2012 |  M12   | 229.601 |     ...
26  | CUUR0000SA0 | 2012 |  M11   | 230.221 |     ...
27  | CUUR0000SA0 | 2012 |  M10   | 231.317 |     ...
28  | CUUR0000SA0 | 2012 |  M09   | 231.407 |     ...
29  | CUUR0000SA0 | 2012 |  M08   | 230.379 |     ...
30  | CUUR0000SA0 | 2012 |  M07   | 229.104 |     ...
31  | CUUR0000SA0 | 2012 |  M06   | 229.478 |     ...
32  | CUUR0000SA0 | 2012 |  M05   | 229.815 |     ...
33  | CUUR0000SA0 | 2012 |  M04   | 230.085 |     ...
34  | CUUR0000SA0 | 2012 |  M03   | 229.392 |     ...
35  | CUUR0000SA0 | 2012 |  M02   | 227.663 |     ...
36  | CUUR0000SA0 | 2012 |  M01   | 226.665 |     ...
37  | CUUR0000SA0 | 2011 |  M12   | 225.672 |     ...
38  | CUUR0000SA0 | 2011 |  M11   | 226.230 |     ...
39  | CUUR0000SA0 | 2011 |  M10   | 226.421 |     ...
40  | CUUR0000SA0 | 2011 |  M09   | 226.889 |     ...
41  | CUUR0000SA0 | 2011 |  M08   | 226.545 |     ...
42  | CUUR0000SA0 | 2011 |  M07   | 225.922 |     ...
43  | CUUR0000SA0 | 2011 |  M06   | 225.722 |     ...
44  | CUUR0000SA0 | 2011 |  M05   | 225.964 |     ...
45  | CUUR0000SA0 | 2011 |  M04   | 224.906 |     ...
46  | CUUR0000SA0 | 2011 |  M03   | 223.467 |     ...
47  | CUUR0000SA0 | 2011 |  M02   | 221.309 |     ...
48  | CUUR0000SA0 | 2011 |  M01   | 220.223 |     ...
49  +-------------+------+--------+---------+-----...

In [57]:
import requests
import pandas as pd
import json
states = ['Arkansas']

for state in states:
    url = f'https://download.bls.gov/pub/time.series/la/la.data.10.{state}'
    r = requests.get(url).text
    
    print(r)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)