In [9]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime

start_date = '1970-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

# retrieve historical data from Federal Reserve
interest_rates = web.DataReader('FEDFUNDS', 'fred', start_date, end_date)

# resample data by month
interest_rates_monthly = interest_rates.resample('M').last()

interest_rates_monthly.columns=['interest_rate']

# export to CSV
interest_rates_monthly.to_csv('interest_rates.csv')

In [10]:
interest_rates_monthly

            interest_rate
DATE
1970-01-31           8.98
1970-02-28           8.98
1970-03-31           7.76
1970-04-30           8.10
1970-05-31           7.95
...                   ...
2022-10-31           3.08
2022-11-30           3.78
2022-12-31           4.10
2023-01-31           4.33
2023-02-28           4.57

[638 rows x 1 columns]